
body {                                                                                            
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin:10px;
    padding:4;

     }

::selection { background: #D682B0; }

 a:link {color: #AA2B67;}
 a:visited {color: #E68391;
	    text-decoration: line-through;}

 a:hover {color: #31998E;
	  text-decoration: underline;}
 a:active {color: #D44848 ;}

 .black p {
    background-color: black;
    color: white;
    font-size: 15 px;
    margin: 5;
    padding: 4;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

div {
    width: 100%
	      display: inline-block;
  resize: both;

}

.column div {
    column-gap: 20px;
    column-rule-width: 1px;
			   column-count: 2;
}


div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.c {
  text-align: justify;
}


/* The fix for auto-resizing was to add 100% to width */

h1 { font-family: Lucida Sans Typewriter;
     font-size: 24px;
     font-style: normal;
     font-variant: normal;
     font-weight: 500;
     line-height: 26.4px; }

h2 { font-family: Lucida Sans Typewriter;         
     font-size: 17px;                                                                                          
     font-style: normal;                                                                                        
     font-variant: normal;                                                                                      
     font-weight: 400;                                                                                          
     line-height: 10.4px;
     overflow: scroll;
   }  

h3 { font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monosopace;
     font-size: 14px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     }

img {
  	max-width: 100%;
  	height: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
            
.wrapper a:link {color: #E2AFCB;}
.wrapper a:visited {color:  #C2A1BD;
	    text-decoration: line-through;}

.wrapper a:hover {color:#31998E;
	  text-decoration: underline;}
.wrapper a:active {color: #C44F86;}

.shadow	{ background-color: black;
	  color: white;
	  line-height: 1.5;}

.censor { color:white;
	  text-decoration: line-through;
	  font-size: 15px;
	  color: white;}

.text {
    color: #FE8AB6;

}
.trans 	{text-align: end;
	 display:block;
	 background-color: black;
	 color: white; }


/* Vertical linking */


.wrapper { background-color: black;
	   font-family: Lucida Sans Typewriter;;
	   color: white;
	; 
	 }

p { font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    overflow: scroll; 
   
  }
 
blockquote { font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
	     font-size: 21px;
	     font-style: normal;
	     font-variant: normal;
	     font-weight: 400;
	     line-height: 30px; }

pre {font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
     font-size: 13px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 18.5667px; }
